<div class="main">
  <label style="font-size: 1.5rem">{{ "title" | translate }}</label>
  <div class="flex-end">
    <mat-form-field appearance="fill">
      <mat-label>Select Locale</mat-label>
      <mat-select [formControl]="languageControl">
        <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
          {{ languageText(lang) }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <!-- Normal text translation -->
  <div class="block">
    <p class="intro-text">
      {{ "intro" | translate }}
    </p>
  </div>
  <!-- Using NgFor/loop -->
  <div class="block">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="flex-between">
          <div class="">Default English</div>
          <div class="">Translate Language</div>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" *ngFor="let month of months">
        <div class="flex-between">
          <div class="">
            {{ month }}
          </div>
          <div class="">
            {{ "months." + month | translate }}
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<footer class="footer">
  <div class="footer-flex">
    <a
      href="https://github.com/chandru415/angular-internationalization"
      target="_blank"
      title="View Source Code"
    >
      <i class="fa fa-github" aria-hidden="true"></i
    ></a>
    <p>
      chandru415 @ 2021 -
      {{ copyright$ | async | date: "yyyy" }} MIT.
    </p>
    <p>
      <a
        href="https://twitter.com/chandru415"
        target="_blank"
        title="View Source Code"
      >
        <i class="fa fa-twitter" aria-hidden="true"></i
      ></a>
    </p>
  </div>
</footer>
