<div class="main">
  <label style="font-size: 1.5rem">{{ title }}</label>

  <footer class="footer">
    <div class="footer-flex">
      <a
        href="https://github.com/chandru415/angular-ngrx-material-snackbar"
        target="_blank"
        title="View Source Code"
      >
        <i class="fa fa-github" aria-hidden="true"></i
      ></a>
      <p>
        chandru415 <i class="fa fa-copyright" aria-hidden="true"></i> 2021 -
        {{ copyright$ | async | date: "yyyy" }} @ MIT.
      </p>
    </div>
  </footer>
</div>

<router-outlet></router-outlet>
